<div class="dashboardContainer">{{#each posts as |post|}}
    <p><a href="/update/{{post.id}}" class="dashBtn">{{post.title}}</a></p>

  {{/each}}

  <a href="/post" class="button">Add New Post</a>
</div>