<div class="postContainer">
  {{#each posts as |post|}}
    <div class="post">
      <div class="postHeader">
        <span class="postTitle">{{post.title}}</span>
        <span class="postInfo">Posted by
          {{post.user.username}}
          on 12/12/12.</span>
      </div>
      <div class="postBody">
        {{post.blog}}
      </div>
    </div>
  {{/each}}
</div>