<div class="contentContainer">
  <div class="formContainer">
    <div class="postHeader"><span class="postTitle">New Post</span></div>
    <div class="formBody">
      <form id="newPost">
        <p><input
            type="text"
            name="title"
            placeholder="Title"
            class="blogTitle"
          /></p>
        <p><textarea name="blog" class="blogBody"></textarea></p>
        <button class="button" type="button" id="submitPost">Post</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/post.js"></script>