<div class="contentContainer">
  <div class="formContainer">
    <div class="postHeader"><span class="postTitle">Update Post</span></div>
    <div class="formBody">
      <form id="newPost">
        <p><input
            type="text"
            name="title"
            placeholder="{{post.id}}"
            class="blogTitle"
          /></p>
        <p><textarea
            name="blog"
            placeholder="{{post.id}}"
            class="blogBody"
          ></textarea></p>
        <button class="button" type="button" id="updatePost">Update</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/post.js"></script>