<div class="contentContainer">
  <div class="formContainer">
    <div class="postHeader"><span class="postTitle">Update Post</span></div>
    <div class="formBody">
      <form id="update" data-id="{{post.id}}">
        <p><textarea
            name="title"
            class="blogTitle"
          >{{post.title}}</textarea></p>
        <p><textarea name="blog" class="blogBody">{{post.blog}}</textarea></p>
        <button class="button" type="button" id="updatePost">Update</button>
        <button class="button" type="button" id="deletePost">Delete</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/update.js"></script>